extends layout
block content
  div.project-detail(id='project-detail-' + p.id, data-role='page')
    if (isnew)
      div(data-role='header', data-position='fixed')
        img.ui-title.retina.matisse-sig(src='/img/matisse-logo-white.png')
        a.ui-icon-nodisc.big-icon(href="/", data-icon='home', data-iconpos='notext', data-shadow='false', data-iconshadow='false') Home

    div(data-role='content')
      if (isnew)
        .new-proj-top.fullbleedlr
          h2 project
          h1 created!
          p.intromessage Congratulations! Your project is ready to roll.
      else
        .proj-top.fullbleedlr

      .proj-meta
        h1= p.name
        p.message <strong>#{p.teacher.name}</strong> at <strong>#{p.school.name}</strong>
          span.grade &nbsp;- #{p.teacher.grade}
        if (!isnew)
          .progbar-outer
            .progbar-inner
          .ui-grid-c.proj-stats
              .ui-block-a
                h5 <sup>$</sup>80
                p OUT OF <sup>$</sup>120
              .ui-block-b
                h5 1
                p DAY LEFT
              .ui-block-c
                h5 12
                p FUNDERS
              .ui-block-d
                h5 23
                p STUDENTS
      .proj-drilldown-tabs(data-role='navbar')
        ul
          li
            a.ui-btn-active(data-theme='f', data-tabcontent='.proj-dd-details') details
          li
            a(data-theme='f', data-tabcontent='.proj-dd-supplies') supplies
          li
            a(data-theme='f', data-tabcontent='.proj-dd-instructions') instructions

      .proj-dd.proj-dd-details!= "<h5>project details</h5>" + p.description
      .proj-dd.proj-dd-supplies.hide
        include _product-list
      .proj-dd.proj-dd-instructions.hide!= "<h5>step-by-step instructions</h5>" + p.instructions

      - var teacher = teacher || false
      unless isnew
        div.proj-footer(data-role='footer', data-position='fixed', data-theme='d')
          if (teacher)
            a.back-projects-btn.ui-icon-nodisc.big-icon(href="/projects", data-rel='back', data-icon='chevron-left', data-iconpos='notext', data-shadow='false', data-iconshadow='false') projects
            .fund-btn-wrapper
              a.fund-button(href='/projects/' + p.id + '/clone', data-role='button', data-theme='b', data-transition='slidedown') copy this project
          else
            a.back-projects-btn.ui-icon-nodisc.big-icon(href="/projects", data-rel='back', data-icon='chevron-left', data-iconpos='notext', data-shadow='false', data-iconshadow='false') projects
            a.back-projects-btn.ui-icon-nodisc.big-icon.ui-btn-right(data-icon='share-alt', data-iconpos='notext', data-shadow='false', data-iconshadow='false') share
            .fund-btn-wrapper
              a.fund-button(href='/projects/' + p.id + '/fund', data-role='button', data-theme='b', data-transition='slideup') fund this art project
